.movieContainer {
    display: none; /* Hide all movies initially */
    text-align: center;
}

.movie {
    max-width: 500px;
    max-height: 500px;
}

.moviePoster {
    max-height: 300px;
}

/* Set width of carousel */
.carousel {
    width: 350px;
}


/* Additional custom styles */
